{% extends 'base.html' %}

{% block header %}

<h1>Classificador de Lesão de Pele com Machine Learning</h1>

{% endblock header %}

{% block content %}

<div class="row">
    {% block image %}

    {% endblock image %}
    <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Upload da Imagem</h3>
            </div>
            
            <div class="box-body">
                <form id="uploadImage" action="{{url_for('upload_image')}}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="image">Selecione imagem</label>
                        <input type="file" id="image" name="image">
                        
                        <p class="help-block">Selecione imagem de uma lesão de pele.</p>
                    </div>
                    
                    
                </form>
            </div>
            
            <div class="box-footer">
                <button type="submit" form="uploadImage" class="btn btn-primary pull-right">Classificar Imagem</button>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    {% block chart %}

    {% endblock %}
    
</div>
<div class="row">
    {% block results %}
    
    {% endblock results %}
</div>


{% endblock content %}